<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GamePedia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B9A88482F6EDC9A00D5F380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9A885E2F6EDC9B00D5F380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9A88682F6EDC9B00D5F380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
