Config/Secrets.xcconfig
*.xcuserstate
*.xccheckout
*.xcscmblueprint
**/xcuserdata/
.bundle/
vendor/bundle/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
*.p12
*.mobileprovision
*.cer
AuthKey_*.p8
.env
.env.*
DerivedData/

build/
*.ipa
*.xcarchive
