<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI0sl_IJKRGLkwdb9kKfarVkDL6joDKow</string>
	<key>GCM_SENDER_ID</key>
	<string>863647694950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hwb.GamePedia</string>
	<key>PROJECT_ID</key>
	<string>gamepedia-eb58c</string>
	<key>STORAGE_BUCKET</key>
	<string>gamepedia-eb58c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863647694950:ios:1de36849be4caecabbeda7</string>
</dict>
</plist>