#include? "Secrets.xcconfig"

URL_SCHEME_SEPARATOR = /
API_ENVIRONMENT = staging
TRANSLATION_BASE_URL = http:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)localhost:3000
LOCAL_DEVELOPMENT_SERVER_HOST = localhost

GOOGLE_CLIENT_ID =
GOOGLE_REVERSED_CLIENT_ID =

TERMS_OF_SERVICE_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)example.com/gamepedia/terms
PRIVACY_POLICY_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)example.com/gamepedia/privacy
COMMUNITY_GUIDELINES_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)example.com/gamepedia/community-guidelines
SUPPORT_EMAIL = support@gamepedia.app
