#include? "Secrets.xcconfig"

URL_SCHEME_SEPARATOR = /
API_ENVIRONMENT = dev
CORE_BASE_URL = http:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)127.0.0.1:3001

GOOGLE_CLIENT_ID =
GOOGLE_REVERSED_CLIENT_ID =
WIDGET_APP_GROUP_IDENTIFIER = group.com.hwb.GamePedia.widget

TERMS_OF_SERVICE_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)hwangseokbeom.github.io$(URL_SCHEME_SEPARATOR)gamepedia-legal$(URL_SCHEME_SEPARATOR)terms.html
PRIVACY_POLICY_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)hwangseokbeom.github.io$(URL_SCHEME_SEPARATOR)gamepedia-legal$(URL_SCHEME_SEPARATOR)privacy.html
COMMUNITY_GUIDELINES_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)hwangseokbeom.github.io$(URL_SCHEME_SEPARATOR)gamepedia-legal$(URL_SCHEME_SEPARATOR)community.html
SUPPORT_EMAIL = tjrqja0714@gmail.com
