#include? "Secrets.xcconfig"

URL_SCHEME_SEPARATOR = /
API_ENVIRONMENT = production
CORE_BASE_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)gamepedia-api.duckdns.org
BUILD_FLAVOR_NAME = production
BUILD_SCHEME_NAME = GamePedia-Prod

GOOGLE_CLIENT_ID = 464952520539-lbhh2kg8i9g02qkgot2odhkflca85org.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.464952520539-lbhh2kg8i9g02qkgot2odhkflca85org
WIDGET_APP_GROUP_IDENTIFIER = group.com.hwb.GamePedia.widget

TERMS_OF_SERVICE_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)hwangseokbeom.github.io$(URL_SCHEME_SEPARATOR)gamepedia-legal$(URL_SCHEME_SEPARATOR)terms.html
PRIVACY_POLICY_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)hwangseokbeom.github.io$(URL_SCHEME_SEPARATOR)gamepedia-legal$(URL_SCHEME_SEPARATOR)privacy.html
COMMUNITY_GUIDELINES_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)hwangseokbeom.github.io$(URL_SCHEME_SEPARATOR)gamepedia-legal$(URL_SCHEME_SEPARATOR)community.html
SUPPORT_EMAIL = tjrqja0714@gmail.com
