#include? "Secrets.xcconfig"

URL_SCHEME_SEPARATOR = /
API_ENVIRONMENT = staging
CORE_BASE_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)staging-gamepedia-api.duckdns.org

GOOGLE_CLIENT_ID =
GOOGLE_REVERSED_CLIENT_ID =

TERMS_OF_SERVICE_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)hwangseokbeom.github.io$(URL_SCHEME_SEPARATOR)gamepedia-legal$(URL_SCHEME_SEPARATOR)terms.html
PRIVACY_POLICY_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)hwangseokbeom.github.io$(URL_SCHEME_SEPARATOR)gamepedia-legal$(URL_SCHEME_SEPARATOR)privacy.html
COMMUNITY_GUIDELINES_URL = https:$(URL_SCHEME_SEPARATOR)$(URL_SCHEME_SEPARATOR)hwangseokbeom.github.io$(URL_SCHEME_SEPARATOR)gamepedia-legal$(URL_SCHEME_SEPARATOR)community.html
SUPPORT_EMAIL = tjrqja0714@gmail.com
